{% extends 'base.html' %}

{% block title %}
  {{ header }} | Componentor
{% endblock %}

{% block content %}
  <div class="container mt-4">

    <h1 class="display-6 my-3">{{ title }}</h1>

    <form method="post">
      {% csrf_token %}

      <!--Material name-->
      <div class="form-floating mb-3">
        {% if form.name.errors %}
          <input type="text" class="form-control is-invalid" placeholder='Material name' name="name" value="{{ form.name.value }}" required>
          <label>{{ form.name.label_tag }}</label>
          <div class="invalid-feedback">{{ form.name.errors }}</div>
        {% else %}
          <input type="text" class="form-control" placeholder='Material name' name="name" value="{{ material.name }}" required>
          <label>{{ form.name.label_tag }}</label>
          <div class="form-text">{{ form.name.help_text }}</div>
        {% endif %}
      </div>

      <!--Material density-->
      <div class="form-floating mb-3">
        {% if form.density.errors %}
          <input type="number" class="form-control is-invalid" placeholder='Material density' name="density" value="{{ form.density.value }}">
          <label>{{ form.density.label_tag }}</label>
          <div class="invalid-feedback">{{ form.density.errors }}</div>
        {% else %}
          <input type="number" class="form-control" placeholder='Material density' name="density" value="{{ material.density }}">
          <label>{{ form.density.label_tag }}</label>
          <div class="form-text">{{ form.density.help_text }}</div>
        {% endif %}
      </div>

      <!--Buttons-->
      {% if material.id %}
        <a class="btn btn-outline-dark icon-link icon-link-hover link-underline link-underline-opacity-0" style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0);" href="{% url 'materials:material_detail' material.id %}" role="button">
          <i class="bi bi-arrow-left-square mb-2"></i> Back
        </a>
      {% else %}
        <a class="btn btn-outline-dark icon-link icon-link-hover link-underline link-underline-opacity-0" style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0);" href="{% url 'materials:material_list' %}" role="button">
          <i class="bi bi-arrow-left-square mb-2"></i> Back
        </a>
      {% endif %}
      <button class="btn btn-outline-dark" type="reset">
        <i class="bi bi-x-square mb-2"></i> Clear
      </button>
      <button class="btn btn-outline-dark icon-link icon-link-hover link-underline link-underline-opacity-0" style="--bs-icon-link-transform: translate3d(.125rem, 0, 0);" type="submit">
        {{ button }} <i class="bi bi-arrow-right-square mb-2"></i>
      </button>

    </form>

  </div>
{% endblock %}