{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container-fluid p-0">
    <div class="row position-relative mx-0">

      <!--  Сarousel  -->
      <div id="carouselExampleIndicators" class="col carousel slide px-0" data-bs-ride="carousel">

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'images/home_1.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="{% static 'images/home_2.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="{% static 'images/home_3.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
      <!--  Сarousel end  -->

      <!--  Card  -->
      <div class="col position-absolute top-50 start-50 translate-middle" style="width: 50rem;">
        <div class="card text-bg-light" style="--bs-bg-opacity: .9;">
          <div class="card-body">
            <h1 class="card-title display-1">Componentor</h1>
            <p class="card-text lead">Convenient storage and search of data on assemblies, parts, and materials.</p>
          </div>
        </div>
      </div>
      <!--  Card end  -->

    </div>
  </div>
{% endblock %}